.navigateLink {
  color: white;
  text-decoration: none;
  transition: 0.6s ease;
}
.ln {
  margin-top: 10px;
}


.navigateLink:hover {
  color: var(--primary-color);
}



#myVideo {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0.6;
}




/* .insideH1:hover {
  font-weight: lighter;
} */


.imghov {
  width: 100%;
  transition: 0.6s ease;
  transform: scale(1);
}

.imghov:hover {
  padding: 10px;
  cursor: pointer;
  transform: scale(0.9);
}