* {
  padding: 0;margin: 0;
}

:root {
  --primary-color: #a99c70;
  --primary-color-hover: #4f4432;
  --background-color: #2b2318;
}




 .offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
  --bs-offcanvas-bg: #2b2318 !important;
  /* --bs-offcanvas-bg: transparent !important; */
  --bs-offcanvas-border-width: var(--bs-border-width);
  --bs-offcanvas-border-color: #a99c70 !important;
} 