* {
  padding: 0;margin: 0;
}

:root {
  --primary-color: #a99c70;
  --primary-color-hover: #4f4432;
  --background-color: #2b2318;
}




 .offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
  --bs-offcanvas-bg: #2b2318 !important;
  /* --bs-offcanvas-bg: transparent !important; */
  --bs-offcanvas-border-width: var(--bs-border-width);
  --bs-offcanvas-border-color: #a99c70 !important;
} 


.dashboard {
  background: rgb(79,68,50);
  /* background: linear-gradient(0deg, rgba(79,68,50,1) 0%, rgba(169,156,112,1) 100%); */
}

.ant-drawer-content-wrapper {
  height: 50% !important;
}



.ant-drawer-body {
  padding: 0px !important;
}

.ant-drawer-header {
  display: none !important;
}

.ant-modal-content {
  background-color:#a99c70 !important;
}

.ant-modal-header {
  background-color: #a99c70 !important;

}

.ant-modal-title {
  color:#2b2318 !important;
  width: auto;
}

.ant-modal-close-x {
  color: white !important;
}